# Course 2 Project: ML Pipeline for Feature Engineering

## Instructions

In this project, you'll use data related to microeconomic indicators and historical stock prices to explore the data engineering pipline. You'll get to practice:

* Data ingestion 
* Data cleaning
* Data imputation
* Exploratory data analysis (EDA) through charts and graphs

## Packages

You'll use `pandas` and `matplotlib`, which were covered in the course material, to import, clean, and plot data. They have been installed in this workspace for you. If you're working locally and you installed Jupyter using Anaconda, these packages will already be installed.

In [25]:
import pandas as pd
from pandas.tseries.offsets import MonthEnd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import seaborn as sns

## Load data

The first step in a data engineering pipeline for machine learning is to ingest the data that will be used. For this project, data is hosted on a public GitHub repo. 

Your tasks:
* Import data from the provided GitHub repo using `pandas`
* Verify that the data has been imported correctly into `pandas` dataframes. Use methods like `head()` and `info()`
* You may need to change column names to make them easier to work with
* You may need to cast datetime data to the `datetime` format using `pandas` `to_datetime()` method

Data files to import: 
1. GDP
2. Inflation 
3. Apple stock prices 
4. Microsoft stock prices

In [26]:
# Load historical GDP data
GDP_data = pd.read_csv('GDP.csv')

In [27]:
# Check the first few rows of data
GDP_data.head()

         DATE      GDP
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742

In [28]:
# Explore GDP df structure and descriptive statistics
print(GDP_data.info())
display(GDP_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    309 non-null    object
 1   GDP     309 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB
None

                GDP
count    309.000000
mean    7227.754935
std     7478.297734
min      243.164000
25%      804.981000
50%     4386.773000
75%    12527.214000
max    28284.498000

In [29]:
# Load the historical stock price data for Apple and Microsoft
AAPL_data = pd.read_csv('apple_historical_data.csv')
MSFT_data = pd.read_csv('microsoft_historical_data.csv')

# Renaming column to maintain simplicity
AAPL_data.rename(columns={'Close/Last': 'Close'}, inplace=True)
MSFT_data.rename(columns={'Close/Last': 'Close'}, inplace=True)

In [30]:
# Check the first few rows of data
display(AAPL_data.head())
display(MSFT_data.head())

        Date     Close     Volume      Open      High       Low
0   5/3/2024  $183.38   163224100  $186.65   $187.00   $182.66
1   5/2/2024  $173.03    94214920  $172.51   $173.42   $170.89
2   5/1/2024  $169.30    50383150  $169.58   $172.71   $169.11
3  4/30/2024  $170.33    65934780  $173.33   $174.99   $170.00
4  4/29/2024  $173.50    68169420  $173.37   $176.03   $173.10

         Date    Close    Volume     Open       High        Low
0  05/03/2024  $406.66  17446720  $402.28    $407.15    $401.86
1  05/02/2024  $397.84  17709360  $397.66    $399.93  $394.6515
2  05/01/2024  $394.94  23562480  $392.61  $401.7199    $390.31
3  04/30/2024  $389.33  28781370  $401.49    $402.16    $389.17
4  04/29/2024  $402.25  19582090  $405.25    $406.32    $399.19

In [31]:
# Use methods like .info() and .describe() to explore stock data
print(AAPL_data.info())
display(AAPL_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2517 non-null   object
 1   Close   2514 non-null   object
 2   Volume  2517 non-null   int64
 3   Open    2517 non-null   object
 4   High    2517 non-null   object
 5   Low     2517 non-null   object
dtypes: int64(1), object(5)
memory usage: 118.1+ KB
None

             Volume
count  2.517000e+03
mean   1.277394e+08
std    7.357405e+07
min    2.404834e+07
25%    7.741776e+07
50%    1.077601e+08
75%    1.567789e+08
max    7.576780e+08

In [32]:
print(MSFT_data.info())
display(MSFT_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2517 non-null   object
 1   Close   2517 non-null   object
 2   Volume  2517 non-null   int64
 3   Open    2517 non-null   object
 4   High    2517 non-null   object
 5   Low     2517 non-null   object
dtypes: int64(1), object(5)
memory usage: 118.1+ KB
None

             Volume
count  2.517000e+03
mean   2.953106e+07
std    1.370138e+07
min    7.425603e+06
25%    2.131892e+07
50%    2.639470e+07
75%    3.360003e+07
max    2.025141e+08

## Data preprocessing: Check for missing data and forward fill

Check the Apple historical prices for missing data. Check for missing data in all columns. If there's data missing, use a forward fill to fill in those missing prices.

In [33]:
# Check for nulls 
AAPL_data[AAPL_data.isna().any(axis=1)]

           Date Close    Volume      Open      High       Low
19     4/8/2024   NaN  37425510  $169.03   $169.20   $168.24
68    1/26/2024   NaN  44594010  $194.27   $194.76   $191.94
113  11/20/2023   NaN  46538610  $189.89   $191.91   $189.88

In [34]:
# Forward fill any missing Adata
AAPL_data = AAPL_data.ffill()

In [35]:
# Check again for nulls after using forward fill
AAPL_data[AAPL_data.isna().any(axis=1)]

Empty DataFrame
Columns: [Date, Close, Volume, Open, High, Low]
Index: []

## Data preprocessing: Remove special characters and convert to numeric/datetime

The next step in the data engineering process is to standardize and clean up data. In this step, you'll check for odd formatting and special characters that will make it difficult to work with data as numeric or datetime. 

In this step:
* Create a function that takes in a dataframe and a list of columns and removes dollar signs ('$') from those columns
* Convert any columns with date/time data into a `pandas` `datetime` format

In [36]:
def convert_dollar_columns_to_numeric(df, numeric_columns):
    '''
        Removes dollar signs ('$') from a list of columns in a given dataframe AND casts the columns to a numeric datatype.
        Updates dataframe IN PLACE.
        
        Inputs:
            df: dataframe to be operated on
            numeric_columns: columns that should have numeric data but have dollar signs currently
            
        Returns:
            None - changes to the dataframe can be made in place
    '''
    for col in numeric_columns:
        df[col] = df[col].replace({'\$': ''}, regex=True).astype(float)

In [37]:
# Use convert_dollar_columns_to_numeric() to remove the dollar sign from the Apple and Microsoft datasets
numeric_columns = ['Close', 'Volume', 'Open', 'High', 'Low']
convert_dollar_columns_to_numeric(AAPL_data, numeric_columns)
convert_dollar_columns_to_numeric(MSFT_data, numeric_columns)

In [38]:
# Use pandas's to_datetime() to convert any columns that are in a datetime format
AAPL_data['Date'] = pd.to_datetime(AAPL_data['Date'])
MSFT_data['Date'] = pd.to_datetime(MSFT_data['Date'])

In [39]:
# Use .info() and check the type of each column to ensure that the above steps worked
print(AAPL_data.info())
print(MSFT_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2517 non-null   datetime64[ns]
 1   Close   2517 non-null   float64
 2   Volume  2517 non-null   float64
 3   Open    2517 non-null   float64
 4   High    2517 non-null   float64
 5   Low     2517 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 118.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2517 non-null   datetime64[ns]
 1   Close   2517 non-null   float64
 2   Volume  2517 non-null   float64
 3   Open    2517 non-null   float64
 4   High    2517 non-null   float64
 5   Low     2517 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 118.1 KB
None

## Data preprocessing: Align datetime data

Data engineering includes changing data with a datetime component if needed so that different time series can be more easily compared or plotted against each other. 

In this step:

* Align the inflation date so that it falls on the last day of the month instead of the first

Helpful hints: 
* Use the `pandas` `offsets` method using `MonthEnd(0)` to set the 'Date' column to month-end

In [40]:
# Load the monthly inflation data
inflation_data = pd.read_csv('inflation_monthly.csv')

# Do required data cleaning and transformation
inflation_data.rename(columns={'DATE': 'Date', 'CORESTICKM159SFRBATL': 'YoY'}, inplace=True)
inflation_data['Date'] = pd.to_datetime(inflation_data['Date'])

inflation_data.head()

        Date       YoY
0 1968-01-01  3.651861
1 1968-02-01  3.673819
2 1968-03-01  4.142164
3 1968-04-01  4.155828
4 1968-05-01  4.088245

In [41]:
# Align inflation data so that the date is the month end (e.g. Jan 31, Feb 28/28)
inflation_data['Date'] = inflation_data['Date'] + MonthEnd()

In [42]:
# Verfiy if the dates have shifted to month end
inflation_data.head()

        Date       YoY
0 1968-01-31  3.651861
1 1968-02-29  3.673819
2 1968-03-31  4.142164
3 1968-04-30  4.155828
4 1968-05-31  4.088245

## Data preprocessing: Upsample, downsample and interpolate data

Inflation data is presented monthly in this dataset. However, for some models, you may need it at a quarterly frequency, and for some models you may need it at a quarterly frequency. 

In this step:
* Create a new quarterly inflation dataframe by downsampling the monthly inflation data to quarterly using the mean (e.g. for quarter 1 in a given year, use the average values from January, February, and March)
* Create a new weekly inflation dataframe by upsampling the monthly inflation data. For this, you'll need to use `resample` and then you'll need to `interpolate` to fill in the missing data at the weekly frequency

Note that you may need to change the index for some of these operations!

In [43]:
# Upsample and interpolate from monthly to weekly 
inflation_weekly = inflation_data.resample('W', on='Date').first().interpolate()

inflation_weekly.head()

                 YoY
Date
1968-02-04  3.651861
1968-02-11  3.657351
1968-02-18  3.662840
1968-02-25  3.668330
1968-03-03  3.673819

In [44]:
# Downsample from monthly to quarterly 
inflation_quarterly = inflation_data.resample('3ME', on='Date').mean()

inflation_quarterly.head()

                 YoY
Date
1968-01-31  3.651861
1968-04-30  3.990604
1968-07-31  4.462297
1968-10-31  5.025815
1969-01-31  5.617311

## Data preprocessing: Normalize/standardize a feature

Economic time series data often involve variables measured on different scales (e.g., GDP in trillions of dollars, inflation in percentage points). Standardizing these variables (typically by subtracting the mean and dividing by the standard deviation) puts them on a common scale, allowing for meaningful comparisons and analyses.

Your task:
* Standardize the GDP data. You may do this manually by subtracting the mean and dividing by the standard deviation, or you may use a built-in method from a library like `sklearn`'s `StandardScaler`

In [45]:
# Standardize the GDP measure
scaler = StandardScaler()

inflation_data['YoY'] = scaler.fit_transform(X=inflation_data[['YoY']])

In [46]:
# Check the dataframe to make sure the calculation worked as expected 
inflation_data.head()

        Date       YoY
0 1968-01-31 -0.252381
1 1968-02-29 -0.244224
2 1968-03-31 -0.070249
3 1968-04-30 -0.065173
4 1968-05-31 -0.090278

## EDA: Plotting a time series of adjusted open vs close price

As part of your EDA, you'll frequently want to plot two time series on the same graph and using the same axis to compare their movements. 

Your task:
* Plot the Apple open and close price time series on the same chart **for the last three months only**. Be sure to use a legend to label each line

**NOTE**: This is a large dataset. If you try to plot the entire series, your graph will be hard to interpret and may take a long time to plot. Be sure to use only the most recent three months of data.

In [47]:
# Get max date in timeseries

In [48]:
# Use the max date calculated above to get the last three months of data in the dataset

In [49]:
# Plot time series of open v. close stock price for Apple using the last 3 months of data

## EDA: Plotting a histogram of a stock's closing price in the last three months

One way to see how much a stock's price generally moves is to plot the frequency of closing prices over a set time period. 

Your task:
* Use the **last three months** of Apple stock data and plot a histogram of closing price

In [50]:
# Plot the histogram of Apple's closing price over the last 3 months

## Calculating correlation between a stock price and a macroeconomic variable 

Inflation affects the purchasing power of money and can influence corporate profits, interest rates, and consumer behavior. By analyzing the correlation between stock prices and inflation, one can gauge how inflationary trends impact stock market performance. For instance, high inflation might erode profit margins and reduce stock prices, while moderate inflation might indicate a growing economy, benefiting stocks.

Your task:
* Plot a heatmap that shows the correlation between Microsoft and Apple returns and inflation 

This will require several steps:
1. Calculate the returns for Apple and Microsoft and the change in monthly inflation (use the `pct_change` method for each)
2. Interpolate the daily stock returns data to monthly so it can be compared to the monthly inflation data
3. Merge the stock returns (Apple and Microsoft) and inflation data series into a single dataframe
4. Calculate the correlation matrix between the Apple returns, Microsoft returns, and inflation change
5. Plot the correlation matrix as a heatmap

### 1. Calculate returns for Microsoft / Apple and the monthly change in inflation

In [51]:
# Calculate daily returns for Apple and Microsoft and the percent change in inflation from month to month

### 2. Interpolate stock returns from daily to monthly

### 3. Merge the dataframes and calculate / plot the correlation

### 4. Calculate the correlation matrix between the Apple returns, Microsoft returns, and inflation change

In [52]:
# Calculate correlation matrix

### 5. Plot the correlation matrix as a heatmap

In [53]:
# Plot heatmap

## Calculating rolling volatility (standard deviation) of a stock's price for last 3 months

Volatility is a measure of the dispersion of returns for a given security. By calculating rolling volatility, investors can assess the risk associated with a stock over time: Higher volatility indicates higher risk, as the stock's price is more likely to experience significant fluctuations. In portfolio optimization, understanding the volatility of individual stocks and how it changes over time is crucial for diversification and optimization. By analyzing rolling volatility, investors can adjust their portfolios to maintain a desired risk level, potentially improving the risk-return profile.

One possible way to calculate volatility is by using the standard deviation of returns for a stock over time.

Your task:
* Calculate the weekly rolling standard deviation for Apple's closing price
* Plot the calculated rolling weekly volatility of Apple's closing price against Apple's closing price. Plot these **on the same chart, but using different y-axes**

Helpful hints:
* You'll need to use the `pandas` `rolling()` method with a given `window_size` parameter to make it a _weekly_ rolling calculation
* Use **only the last three months of data**; data much older than this may not be as useful for portfolio optimization
* You'll need to create two axes on the matplotlib figure to be able to use two different y-axes (one for the closing price and one for the rolling volatility calculated here)

In [54]:
# Define the window size for the rolling calculation (e.g., one week)

In [55]:
# Calculate rolling one-week volatility

In [56]:
# Plot the calculated rolling weekly volatility of Apple's closing price against Apple's closing price
# Plot these on the same chart, but using different y-axes

## Export data

Now that you have preprocessed your data, you should save it in new csv files so that it can be used in downstream tasks without having to redo all the preprocessing steps. 

Your task:
* Use `pandas` to export all modified datasets back to new CSV files