# Exercise: Time Series Manipulations in Pandas

Like in prior exercises, you'll download a ticker's historical data from YahooFinance. But raw data isn't that useful by itself, so in this exercise you'll get practice with manipulating time series data in Pandas.

In [12]:
import pandas as pd
import yfinance as yf
from datetime import datetime
from dateutil.relativedelta import relativedelta

**Pull data for your favorite ticker from YahooFinance**

Use the YF API to pull **daily** price data for at least 3 years for any stock ticker you'd like.

In [2]:
stock_ticker = 'AAPL'
start_date = '2020-01-01' # use format YYYY-MM-DD
end_date = '2023-01-01'

data = yf.download(tickers=stock_ticker, start=start_date, end=end_date)

C:\Users\Shiv Patel\AppData\Local\Temp\ipykernel_25720\1478860181.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers=stock_ticker, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed

**Resample from daily to weekly, taking the Friday price**

Using the above data, resample your `closing` price to weekly. In the demo, we used the last day of the period. In this exercise, can you figure out how to pull the weekly data that's for Friday specifically?

In [5]:
weekly_data_friday = data['Close'].resample('W').last()

**Taking time-based slice of your data**

Above you pulled the last 3 years of data for a given ticker. But in lots of trading applications, you don't need data that goes that far back in time as trends and underlying phenomenon have changed. 

Can you take just the last 3 months of data and put it into a new DataFrame?

In [20]:
# Get start_date 3 months behind
end_datetime = datetime.strptime(end_date, "%Y-%m-%d").date()
new_start_date = end_datetime - relativedelta(months=3)
last_3_months = data[data.index.get_level_values('Date') >= str(new_start_date)]

last_3_months

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2022-10-03  140.395447  141.006515  135.704105  136.216610  114311700
2022-10-04  143.992844  144.111108  142.179370  142.938269   87830100
2022-10-05  144.288498  145.254374  140.947392  141.992116   79471000
2022-10-06  143.332474  145.412042  143.125511  143.706998   68402200
2022-10-07  138.069504  141.036101  137.438735  140.484165   85925600
...                ...         ...         ...         ...        ...
2022-12-23  130.173782  130.726619  127.982170  129.245801   63814900
2022-12-27  128.367157  129.729514  127.073912  129.699899   69007800
2022-12-28  124.428230  129.354417  124.260406  128.011808   85438400
2022-12-29  127.952553  128.811422  126.096597  126.353267   75703700
2022-12-30  128.268448  128.288196  125.800425  126.767896   77034200

[63 rows x 5 columns]